/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
}

/* NAVBAR */

.navbar {
  background: #3e79ba;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: white;
}
.navbar a{
  color: white !important;
}
.navbar a:hover{
  background-color: #4d96e6 !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

